<!DOCTYPE html>
<html>
  <head>
    <title>Listado de Productos en Tiempo Real</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/index.js"></script> 
  </head>
  <body>
    <h1>Listado de Productos</h1>
  </body>
</html>